@charset "UTF-8";

html {
	color:#222;
	font-size: 1em;
	line-height: 1.4;
	font-family: "Poppins", Verdana, sans-serif; 
}

body {
	background-repeat:repeat;
	background-image:url("images/geometric-leaves.png")
}
	
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.welcome {
  margin: auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.padding {
  padding-bottom: 2rem;
}

.about {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px;
	text-align: center;
}

.carousel-inner img {
	width: 100%; /* width of container */
	height: 300px; /* height of container */
	object-fit: cover;
}

.carousel-caption {
	position: absolute;
	top: 150px;
	transform: translateY(-50%);
	width: 805px;
	left: 274px;
}

.carousel-caption h1 {
  font-size: 400%;
  color:azure;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px #222;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.color-form {
	padding-left: 250px;
	padding-right: 250px;
}

.form-all {
	background-color: #pink;
}

.form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 20px 100px;
}

.form input {
	width: 100%;
}

.subscribe {
	font-size: 40px;
	text-align: center;
	padding-top: 20px; 
}

.form-text {
	font-weight: normal; 
}

.form-all button {
	border-radius: 15px;
	background-color: #EDD9D9;
	border: thin;
	font-size: 15px;
	color: inherit;
	margin-right: 10px;
	padding: 3px 8px;
}

table {
	border-radius: 5px;
	border: 2px solid #d786a5;
	width:600px;
	background-color:pink;


}

td {

	font-size: 14px;
	background-color: white;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
	padding: 5px 15px;
	margin: 5px;
}

th {
	font-size: 14px;
	min-width: 110px;
	color: white;
	background-color: rgb(215, 134, 165);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
	padding: 5px 10px;

}

.addbutton {
	display: inline-block;
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	-moz-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	background-color: rgb(215, 134, 165);
}

.addbutton:hover {

	background-color: rgb(176, 88, 137);
}

.actionbutton {
	background-color: rgb(215, 134, 165);
	min-width:50px;
	text-align: center;
	text-decoration: none;
	color:white;

}

.actionbutton:hover {
	background-color: rgb(176, 88, 137);
	text-decoration: none;
}

.actionbutton a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}


container
{
	display:block;
	overflow:auto;
	min-width:500px;

}

container h3{
	display:block;
	background-color:white;
	color:rgb(215, 134, 165);
	border-radius:10px;
	padding: 5px 10px;
	margin:30px 5px 10px 5px;
	width:250px;
	-webkit-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	-moz-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);


}

container h1 {
	display:block;
	background-color:white;
	color:black;
	border-radius:10px;
	padding: 5px 10px;
	margin:10px 5px;
	width:320px;
	-webkit-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	-moz-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
}

.message {
	display:block;
	background-color:white;
	color:black;
	border-radius:10px;
	padding: 5px 10px;
	margin:10px 5px;
	width:320px;
	-webkit-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	-moz-box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
	box-shadow: 0px 3px 7px 2px rgba(171,159,161,0.54);
}

input.check {
	width:20px;
	height:20px;
}

.title {
	text-align:center;
	margin-top:10px;
	line-height: 70px;
}
