@charset "UTF-8";

html {
	color:#222;
	font-size: 1em;
	line-height: 1.4;
	font-family: "Poppins", Verdana, sans-serif; 
}
	
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.welcome {
  margin: auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.padding {
  padding-bottom: 2rem;
}

.about {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px;
	text-align: center;
}

.carousel-inner img {
	width: 1000px; /* width of container */
	height: 400px; /* height of container */
	object-fit: cover;
}

.carousel-caption {
	position: absolute;
	top: 256px;
	transform: translateY(-50%);
	width: 805px;
	left: 274px;
}

.carousel-caption h1 {
  font-size: 400%;
  color:azure;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px #222;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.color-form {
	padding-left: 250px;
	padding-right: 250px;
}

.form-all {
	background-color: #FFF7F7;
}

.form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 20px 100px;
}

.form input {
	width: 100%;
}

.subscribe {
	font-size: 40px;
	text-align: center;
	padding-top: 20px; 
}

.form-text {
	font-weight: normal; 
}

.form-all button {
	border-radius: 15px;
	background-color: #EDD9D9;
	border: thin;
	font-size: 15px;
	color: inherit;
	margin-right: 10px;
	padding: 3px 8px;
}

table {
	border-radius: 5px;
	border: 2px solid #d786a5;
	width: 550px!important;
	background-color:pink;


}

td {

	font-size: 16px;
	background-color: white;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
	padding: 5px 15px;
	margin: 5px;
}

th {
	font-size: 16px;
	width: 150px;
	color: white;
	background-color: rgb(215, 134, 165);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
	padding: 10px

}

container
{
	display:block;
	overflow:auto;
	width:750px;
}
